@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// Font size
$HeadingOne: 36px;
$HeadingTwo: 28px;
$Body: 22px;

// Font Family

$OpenSans: "Open Sans", sans-serif;

// Font thickness

$HeadingsRegular: regular;
$BodyLight: light;
